body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Schedular style*/
.scheduler_default_selected .scheduler_default_event_inner
{
  background: #f35555 !important;
}
.scheduler_default_event_bar, .scheduler_default_event_bar_inner{
  height: 0px !important;
}
.scheduler_default_corner_inner{
  display: none !important;
}
/*Schedular style*/